
<div>
    <nav style="display:flex;" >
        <h3>
            Master n master
        </h3>
        <div style="position: absolute;right: 0;">
        <button style="background-color: Transparent;" mat-button><mat-icon>search</mat-icon></button>
        <button style="background-color: Transparent;" mat-button><mat-icon>note</mat-icon></button>
        <button style="background-color: Transparent;" mat-button><mat-icon>menu</mat-icon></button>
    </div>
    </nav>
    <hr>
    <div>
        <mat-tab-group>
            <mat-tab label="Chat">
               
         
       
          <div>
              <div style="display: flex;justify-content: space-between;">
              
              <div style="display: flex;margin-left: 20px;justify-content: center;">
                
                  <img src="assets/profile.jpg" style="width: 30px;height: 50px;">
                  <div style="margin-left: 15px;">
                
                  <h4>Natasha</h4>
                  <p>lorem ipsum dolor ipetlorem ipsum dolor ipet
                    lorem ipsum dolor ipetlorem ipsum dolor ipet</p>
                </div>
              </div>
              
              <div style="display: flex;flex-direction: column;align-items: center;">
                <p>2:30PM</p><p style="background-color: orange;color: white;border-radius: 50%;">1</p>
              </div>
              
          </div>
              <hr>
              <div style="display: flex;justify-content: space-between;">
              
                <div style="display: flex;margin-left: 20px;justify-content: center;">
                  
                    <img src="assets/profile.jpg" style="width: 30px;height: 50px;">
                    <div style="margin-left: 15px;">
                  
                    <h4>Natasha</h4>
                    <p>lorem ipsum dolor ipetlorem ipsum dolor ipet
                      lorem ipsum dolor ipetlorem ipsum dolor ipet</p>
                  </div>
                </div>
                
                <div style="display: flex;flex-direction: column;align-items: center;">
                  <p>2:30PM</p>
                  <p style="background-color: orange;color: white;border-radius: 50%;">1</p>
                </div>
                
            </div>
                <hr>
          </div>
        </mat-tab>
        <mat-tab label="Messages"></mat-tab>
            
           
    </mat-tab-group>
    
      
    </div>

</div>
